.chatWrap {
  background-color: white;
  display: grid;
  grid:
    "photo chatName time" 60px
    / 65px 4fr 1fr;
  gap: 0px 20px;
  height: 65px;
  border-radius: 5px;
  padding: 7px 5px;
}

.chatName {
  grid-area: chatName;
  display: grid;
  grid:
    "nameMain" 15px
    "text" 15px
    / 1fr;
  gap: 10px;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.time {
  grid-area: time;
  display: grid;
  grid:
    "dataTime" 1fr
    "countMes" 1fr
    / 1fr;
  gap: 5px 0px;
  grid-auto-flow: column;

  justify-content: center;
  align-content: space-around;
  padding: 5px;
  font-size: 10px;
}

.chatNameMain {
  grid-area: nameMain;
}
.chatText {
  grid-area: text;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dataTime {
  grid-area: dataTime;
}
.countMes {
  grid-area: countMes;
}
