.button {
  padding: 5px 15px;
  border: 1px solid rgb(13, 42, 158);
  border-radius: 5px;
  cursor: pointer;
}
.buttonGreen {
  background-color: #abd1c6;
}
.buttonOrange {
  background-color: rgba(249, 188, 96, 1);
}
.buttonRed {
  background-color: rgba(225, 97, 98, 1);
}
