.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: auto;
  padding: 30px;

  background: #fffffe;
  border: 2px solid #001e1d;
  border-radius: 10px;
}
