.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-size: 30px;
}
.container {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.wrapError {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
