body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #004643;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.errorfr {
  border: 2px solid red;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  /* display: none; */
}

.nav {
  text-decoration: underline;
  color: blue;
}
