body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #004643;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.form1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;

  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: auto;
  padding: 30px;

  background: #fffffe;
  border: 3px solid #001e1d;
  border-radius: 10px;
}

.hello1 {
  width: 306px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  text-align: center;

  color: #001e1d;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.errorfr {
  border: 2px solid red;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  /* display: none; */
}
