.wrapSend {
  display: flex;

  flex-wrap: nowrap;
  justify-content: flex-end;
}

.message_outer {
  flex-direction: row-reverse;
  display: flex;
  background-color: rgb(171, 172, 209);
  border-end-start-radius: 0px 0px;
  flex-direction: row-reverse;
  max-width: 500px;

  border: 2px solid black;
  border-radius: 10px;
}
.message_inner {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
}

.message_spacer {
  flex: 1;
}

.message_b {
  max-width: calc(100% - 67px);
  overflow-wrap: break-word;
  margin: 0 10px;
}

.message_actions {
  flex-shrink: 0;
}

.message_avatar {
  margin: 5px;
  display: flex;
  align-items: end;
  gap: 10px;

  align-items: flex-end;
}
.message_status {
  margin: 5px;
  display: flex;
  align-items: end;
}
